@font-face { /* подключил нестандартный шрифт для заголовков, используя правило @font-face */
    font-family: "Antipasto Pro" sans-serif; 
    font-weight: 800;
    font-style: normal;
    src: local("Antipasto Pro ExtraBold"),
        local("AntipastoPro-ExtraBold"),
        url("AntipastoPro/Antipasto-Pro-ExtraBold-trial.woff2") format("woff2");
    font-display: swap; /* параметры отображения шрифта при загрузке */
}

body {
    font-family: sans-serif; /* для основного текста используйте стандартный шрифт без засечек */
    box-sizing: content-box; /* применяю модель расчета размеров, при которой внутренние отступы и границы включаются в общую ширину элемента */
    max-width: 2000px; /* ограничиваю максимальную ширину основного контента, чтобы он не растягивался на всю ширину больших экранов */
    min-height: 100vh; /* задаю минимальную высоту для главного экрана, используя единицы измерения, зависящие от высоты окна браузера. А также использую единицы измерения, зависящие от размеров viewport, для адаптивных блоков */
    font-size: 1.3rem; /* использую относительные единицы измерения, зависящие от корневого элемента, для размеров шрифтов */
}

.visual-accent {
    border: 7px groove #2594df;
    text-align: center; /* центрирую основной контент по горизонтали */
}

#our-projects,
#services,
#about-us,
#contacts-and-form { /* использую групповой селектор для задания одинаковых внешних отступов всем основным разделам страницы */
    text-align: center;
    margin: 10px;
}

.about-us__company-history {
    width: 20.2028%; /* использую проценты для ширины внутренних элементов */
    height: 45px;
    overflow: hidden; /* использую свойство управления переполнением контента для обрезки лишнего содержимого в одном из блоков */
}

.about-us__long-quote {
    width: 20.2028%; /* использую проценты для ширины внутренних элементов */
    height: 45px;
    overflow: auto; /* создаю блок с фиксированной высотой, внутри которого контент вызывает появление полосы прокрутки, если не помещается */
}

label {
    display: block; /* использую значения свойства display для формирования структуры(блочные элементы) */
}

.external-resource {
    display: inline-block; /* использую значения свойства display для формирования структуры(строчно-блочные элементы) */
    margin-right: 30px;
}

#contacts-and-form__title { /* переопределяю стиль шрифта для одного конкретного заголовка, используя идентификатор, чтобы перебить стиль, заданный классом */
    font-style: normal;
}

h2 {
    font-style: italic; /* тот самый стиль для все заголовков, заданный классом */
}

.our-projects__title {
    box-shadow: 20px 20px 20px #000; /* тень для текста главного заголовка */
}

.our-projects__first-project {
    border: 5px dashed #6841d4; /* оформляю границы карточек проектов, используя разные стили линий */
    box-shadow: 20px 20px 20px #000; /* тень для карточек проектов */
}

.our-projects__second-project {
    border: 5px dotted #6841d4; /* оформляю границы карточек проектов, используя разные стили линий */
    box-shadow: 20px 20px 20px #000; /* тень для карточек проектов */
    opacity: .0; /* реализую скрытие одного из элементов так, чтобы он оставался в потоке документа (занимал место), но был невидим */
}

.our-projects__third-project {
    border: 5px ridge #6841d4; /* оформляю границы карточек проектов, используя разные стили линий */
    box-shadow: 20px 20px 20px #000; /* тень для карточек проектов */
    visibility: hidden; /* реализую скрытие другого элемента так, чтобы он полностью исчезал из потока документа */
}

#services > dl { /* использую селектор дочернего элемента первого уровня для стилизации элементов списка услуг */
    font-family: Antipasto Pro, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

footer { /* настраиваю уровень прозрачности для декоративных фоновых элементов */
    opacity: .5;
}