body { /* использован селектор по тегу */
    font-family: sans-serif; /* основной шрифт страницы без засечек */
    font-size: 16px; /* размер основного текста задан в пикселях */
    color: rgb(88, 88, 88); /* цвет основного текста темно-серый */
    line-height: 1.5rem; /* межстрочный интервал увеличен для удобства чтения */
}

h1 {
    text-transform: capitalize; /* все заголовки первого уровня написаны заглавными буквами */
    letter-spacing: 4px; /* все заголовки первого уровня имееют увеличенное расстояние между символами */
    text-shadow: 6px 6px 6px black; /* главный заголовок имеет легкую тень */
}

h2 {
    text-align: center; /* заголовки второго выровнены по центру */
}

h3 {
    font-weight: 400; /* заголовки третьего уровня имеют полужирное начертание */
}

.description-of-the-event { /* использован селектор по классу */
    text-indent: 1.2rem; /* первый абзац текста в разделе «О конференции» имеют отступ первой строки */
}

#description-of-the-event__long-quote { /* использован селектор по ID + демонстрация специфичности */
    word-spacing: 5px; /* текст в блоке длинной цитаты имеет увеличенное расстояние между словами */
}

.description-of-the-event__long-quote {
    word-spacing: 50px;
}

a {
    text-decoration: underline dotted; /* ссылки во всем документе имеют подчеркивание точками */
    color: rgb(255, 34, 34); /* цвет ссылок отличается от основного */
}

legend,
figcaption,
address { /* использован селектор обращающийся к нескольким элементам одновременно (через запятую) */
    font-size: 1.3rem; /* размер шрифтов для второстепенных элементов(подписи, мелкие детали) заданы в rem */
}