body {
    font-family: sans-serif; /* основной шрифт страницы без засечек */
    font-size: 16px; /* размер основного текста задан в пикселях */
    color: rgb(90, 90, 90); /* цвет основного текста темно-серый */
    line-height: 1.5rem; /* межстрочный интервал увеличен */
}

h1 {
    text-transform: uppercase; /* все заголовки первого уровня написаны полностью заглавными буквами */
    letter-spacing: 7px; /* все заголовки первого уровня имеют увеличенное расстояние между буквами */
}

h2 {
    text-align: center; /* заголовки второго уровня выровнены по центру */
}

h3 {
    font-weight: bold; /* заголовки третьего уровня полужирные */
}

.release-description { /* первый абзац в описании выпуска имеет красную строку */
    text-indent: 1.5rem;
}

.long-quote {
    word-spacing: 7px; /* текст в блоке длинной цитаты имеет увеличенное расстояние между словами. Так же демонстрирую специфичность: стиль, заданный через класс, переопределяет стиль, заданный через тег, для одного и того же элемента */
}

blockquote {
    word-spacing: 50px;
}

nav .navigation-menu { /* использую селектор потомка для стилизации элементов внутри навигации */
    text-decoration: underline dotted; /* ссылки в навигационном меню имеют подчеркивание точками */
    color: rgb(165, 42, 42); /* цвет ссылок отличается от цвета основного текста */
}

.parent-1>.child-1 { /* селектор дочернего элемента первого уровня для стилизации непосредственных потомков в дополнительном блоке с div, так как я не понял как как стилизовать непосредственных потомков в карточке ведущего использовав селектор дочернего элемента первого уровня */
    color: chocolate;
}

.podcast,
.presenter-1,
.presenter-2,
.announcement-video { /* использую групповой селектор для задания одинакового размера шрифта подписям к медиа-контенту */
    font-size: 1.7rem;
}