div { /* обращение к тэгу */
    color: green;
}

.block-div { /* обращение к классу */
    color: red;
}

#id-block { /* обращение к id */
    color: blueviolet;
}

.block { /* обращение к первому классу из двух */
    color: darkorange;
}

.block3, .block4, .block5, .block6 { /* обращение к нескольким классам */
    color: deepskyblue;
}

div.fuchsia-block { /* обращение к классу у конкретного тэга */
    color: fuchsia;
}

div .brown { /* обращение к дочерним элементам по классу у конкретного тэга */
    color: brown;
}

.parent-1>.child-1 { /* обращение к дочерним элементам первого уровня */
    color: chocolate;
}